{
  "object": "customer",
  "created": 1432484442,
  "id": "{{ customer_id }}",
  "description": "{{ description | d('customer') }}",
  "email": "{{ email }}",
  "delinquent": {{ delinquent | d('false') }}
}
